{% extends 'templates/base_template.html' %} 
{% load static %} 
{% load bootstrap5 %} 
{% block title %}Foodie Joint{% endblock %}

<!-- Template specific CSS -->
<!-- Test comment for commit 02-->
{% block additional_styles %}
<style>
  #itemRecommendationCard {
    background-color: #D95A2B;
  }

  .recommendation-label {
    width: 200px;
    background-color: #D95A2B;
    display: flex;
    justify-content: center;
    padding: 15px 15px 0;
  }

  .recommendation-container {
    width: 100%;
  }

  .fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Styling for carousel images */
  .carousel .carousel-inner .carousel-item img {
    width: 100%;    /* Ensure the image fills the width of the carousel */
    height: 303px;  /* Fixed height */
    object-fit: cover; /* Cover ensures that the aspect ratio is maintained while filling the area */
  }

  .carousel-item {
    padding: 10px;
  }

  .card-body .card-text {
    color: #000;
    text-decoration: none;
    margin-bottom: 15px;
  }
</style>
{% endblock additional_styles%} 

{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="jumbotron mt-4">
      <h1 class="display-3 fade-in">Hello, Foodie!</h1>
      <p class="lead w-50 mx-auto text-center fade-in">
        Discover hidden culinary gems in your area! Our platform guides you to
        fascinating restaurants and elusive, hard-to-find snacks nearby.
      </p>
      <hr />

      <!-- Carousel within Card Section (Restaurants and Stores Showcase) -->
      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0 px-1">
          <!-- Restaurants Card -->
          <div class="card">
            <h3 class="card-title text-center pt-3">Restaurants</h3>

            <!-- Card -> Restaurants Carousel -->
            <div
              id="carouselExampleIndicators1"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <!-- Card -> Carousel -> Restaurant Images -- (2 Slides) -->
              <!-- Image Attribution: Eric Lumsden (CC BY-ND 2.0) -->
              <div class="carousel-inner">
                {% for restaurant in carousel_restaurants %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <a href="{% url 'location_details' restaurant.id %}">
                  {% if restaurant.image %}
                  <img src="{{ restaurant.image.url }}" class="d-block w-100" alt="{{ restaurant.name }}" />
                  {% else %}
                  <!-- Placeholder -->
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png" class="d-block w-100" alt="No Image Available" />
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- Restaurants Card -> Button -->
            <div class="card-body">
              <p class="card-text">Discover Local Eateries Near You</p>
              <a href="{% url 'nearby' %}?type=Restaurant" class="btn custom-btn">View Restaurants</a>
            </div>
          </div>
        </div>

        <!-- Stores Card -->
        <div class="col-sm-6 px-1">
          <div class="card">
            <h3 class="card-title text-center pt-3">Stores</h3>

            <!-- Card -> Stores Carousel -->
            <div
              id="carouselExampleIndicators2"
              class="carousel slide"
              data-bs-ride="carousel"
            >

              <!-- Image Attribution: Xnatedawgx, CC BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0, via Wikimedia Commons -->
              <!-- Card -> Carousel -> Store Images -- (2 Slides) -->
              <div class="carousel-inner">
                {% for store in carousel_stores %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <a href="{% url 'location_details' store.id %}">
                  {% if store.image %}
                  <img src="{{ store.image.url }}" class="d-block w-100" alt="{{ store.name }}" />
                  {% else %}
                  <!-- Placeholder -->
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png" class="d-block w-100" alt="No Image Available" />
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- Stores Card -> Button -->
            <div class="card-body">
              <p class="card-text">Find Unique Stores Near You</p>
              <a href="{% url 'nearby' %}?type=Store" class="btn custom-btn">View Stores</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Item Recommendation Card Section -->
      <div class="row mt-4 px-0">
          <div class="col-12 gb-0 pb-0 mb-0 px-0">
              <div class="card mb-4">
                  <div class="card-header" style="background-color: #F27E63; border-0 p-0">
                      <h5 style="color: white; font-size: 1.5em; margin: 0;">Recommended Item</h5>
                  </div>
                  <div class="card-body">
                      {% if recommended_item %}
                      <a href="{% url 'item_info' recommended_item.id %}">
                          <img src="{{ recommended_item.image.url }}" alt="{{ recommended_item.name }}" 
                               style="max-width: 20%; height: auto;">
                      </a>
                      <h3 class="card-title">{{ recommended_item.name }}</h3>
                      <p class="card-text">{{ recommended_item.description }}</p>
                      {% else %}
                      <p>No recommended items at the moment.</p>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>

      <!-- Store Recommendation Card Section -->
      <div class="row px-0 mt-0">
          <div class="col-12 px-0">
              <div class="card mb-3">
                  <div class="card-header" style="background-color: #F27E63; border-0 p-0">
                      <h5 style="color: white; font-size: 1.5em; margin: 0;">Recommended Location</h5>
                  </div>
                  <div class="card-body">
                      {% if recommended_location %}
                        <img src="{{ recommended_location.image.url }}" alt="{{ recommended_item.name }}" 
                             style="max-width: 20%; height: auto;">
                    </a>
                      <h3 class="card-title">{{ recommended_location.name }}</h3>
                      <p class="card-text">{{ recommended_location.description }}</p>
                      {% else %}
                      <p>No recommended location at the moment.</p>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
{% endblock content %}