{% extends 'templates/base_template.html' %}

{% block content %}
<style>
  .card-row {
    max-width: 78%;
    margin: 20px auto;
  }

  .image-container {
    margin: 20px auto;
    max-width: 75%;
  }

  .img-fluid {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
  }

  .bottom-btn {
    margin-top: 1.5%;
    margin-bottom: 3%;
  }

  @media (max-width: 768px) {
    .image-container {
      max-width: 100%;
    }
  }

  @media (max-width: 364px) {
    .custom-btn-smaller {
      font-size: 0.75rem;
      padding: .25rem .5rem;
    }
  }

  .review-container {
    position: relative;
  }

  .add-review-btn {
    position: absolute;
    right: 135px;
    top: -50px;
  }

  .checked {
    color: orange;
  }
</style>

<div class="container text-center">
  

  <div class="image-container">
    <img src="{{ item.image.url }}" class="img-fluid" alt="Item Image">
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="location-details bg-light">
        <h1 style="margin-top:65px;">{{ item.name }}</h1>
        <h4>{{ item.description }}</h4>
        {% if user.is_superuser %}
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeItemModal">Remove Item</button>

        <!-- Modal -->
        <div class="modal fade" id="removeItemModal" tabindex="-1" aria-labelledby="removeItemModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="removeItemModalLabel">Confirm Item Removal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to remove this item?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="{% url 'remove_item' item.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Remove Item</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>


  <div class="container justify-content-center mt-3">
    <div class="text-center">
      <h3>Reviews</h3>
      <div class="row justify-content-center">
        <div class="col-12">
          <div style="max-width: 78%; margin: 0 auto; margin-bottom: 9.713px;">
            <div class="d-flex justify-content-between align-items-center">
              <form method="get" class="form-inline d-flex align-items-center">
                <div style="margin-right: 10px;">{{ item_filter.form }}</div>
                <button type="submit" class="btn custom-btn custom-btn-width">Search</button>
              </form>
              <a class="btn custom-btn custom-btn-smaller" href="{% url 'add_review_item' item.id %}">Add Review</a>
            </div>
          </div>
        </div>
      </div>
      {% if reviews %}
        {% for review in reviews %}
          <div class="row justify-content-center mb-0">
            <div class="card card-row m-0 position-relative">
              <div class="row">
                <div class="col d-flex align-items-center justify-content-center">
                  <div class="card-body text-start">
                    <h3>{{ review.user }}</h3>
                    <p>{{ review.review }}</p>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    {% if review.num_stars == 5 %}
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                    {% elif review.num_stars == 4%}
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                    {% elif review.num_stars == 3%}
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    {% elif review.num_stars == 2%}
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    {% elif review.num_stars == 1%}
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="row justify-content-center mb-0">
          <div class="card card-row m-0 position-relative">
            <div class="row">
              <div class="col d-flex align-items-center justify-content-center">
                <div class="card-body text-start">
                  <h3>No reviews exist yet for this item.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
