  {% extends 'templates/base_template.html' %}

  {% block content %}
  <style>
    .card-row {
      max-width: 78%;
      margin: 0 auto;
    }

    .location-description p {
      margin-top: 0; /* Adjusted */
      font-size: 1rem; /* Increased visibility */
    }

    .img-fluid {
      height: 100px;
      object-fit: cover;
      width: auto;
    }

    .bottom-btn {
      margin-left: 10.44%;
      margin-top: 1.5%;
      margin-bottom: 3%;
    }

    .custom-btn-width {
      width: 110px; /* Fixed width: Adjust this value based on your layout's needs */
      max-width: 100%; /* Ensures that the button doesn't overflow its container */
    }

    .location-details {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 1rem;
      margin-top: -1px; /* Remove gap between image and this container */
      margin-left: auto; /* Center align */
      margin-right: auto; /* Center align */
    }

    .header {
      font-weight: bold;
      margin-bottom: 0.5rem; /* Spacing between header and content */
    }

    @media (max-width: 768px) {
      .directions-btn {
        display: block;
        margin-top: 8px;
      }
    }

    @media (max-width: 720px) {
      .img-fluid {
        display: none; /* Hide the images when the screen width is 720px or less */
      }
    }

    @media (max-width: 364px) {
      .directions-btn {
        padding: 4px 8px;
        font-size: 0.7rem;
        margin-right: 8px;
      }
    }

      .checked {
        color: orange;
      }
  </style>

  <div class="container">
    <h1 class="text-center" style="margin-top:65px;">{{ location.name }}</h1>
    <!-- Main image -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="ratio ratio-16x9">
          <img class="rounded-top" src="{{ location.image.url }}" class="img-responsive" style="width: 100%; max-height: 100%; object-fit: cover;" alt="Location Image"/>
        </div>
      </div>
    </div>

    <!-- Rectangular section for location details with adjusted structure -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="location-details bg-light">
          <a class="btn custom-btn directions-btn mb-3" href="https://www.google.com/maps/search/?api=1&query={{ location.address|urlencode }}" target="_blank">Directions</a>
          {% if request.user.is_authenticated%}
          {% if fav %}
          <a class="btn btn-danger directions-btn mb-3" href="{% url 'favorite_item' location.id %}">Unfavorite</a>
          {% else %}
          <a class="btn custom-btn directions-btn mb-3" href="{% url 'favorite_item' location.id %}">Favorite</a>
          {% endif %}
          {% endif %}

          <!-- Admin Recommended Location Button -->
          {% if user.is_authenticated and user.is_superuser %}
            <form action="{% url 'recommend_location' location.id %}" method="post" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn custom-btn directions-btn mb-3">Recommend Location</button>
            </form>
          {% endif %}
          <div class="location-description">
            <h4>Address:  <span class="fs-5 fw-normal">{{ location.address }}</span></h4>
            <h4>Description: <span class="fs-5 fw-normal">{{ location.description }}</span></h4>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <strong>Tags:</strong>
              {% if location.tags.exists %}
                {% for tag in location.tags.all %}
                  {{ tag.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              {% else %}
                None
              {% endif %}
              <br>
              <strong>Created by </strong>{{location.created_by}} <!-- Make clickable to public profile page -->
            </div>
          </div>
          {% if user.is_authenticated and user.is_superuser %}
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#removeStoreModal">
            Remove Store
          </button>

          <!-- Modal -->
          <div class="modal fade" id="removeStoreModal" tabindex="-1" aria-labelledby="removeStoreModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="removeStoreModalLabel">Confirm Store Removal</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure that you would like to remove {{ location.name }}?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <form action="{% url 'remove_store' location.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Add Item button -->
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-12">
          <div style="max-width: 78%; margin: 0 auto; margin-bottom: 9.713px;">
            <div class="d-flex justify-content-end"> <!-- Flex container for right alignment -->
              <a class="btn custom-btn custom-btn-width mb-2" href="{% url 'add_item' %}">Add Item</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Item List -->
    {% if items %}
      {% for item in items %}
      <div class="row justify-content-center mb-0">
        <div class="card card-row m-0 position-relative">
          <div class="row">
            <div class="col-2 d-flex align-items-center justify-content-center">
              <img src="{{ item.image }}" class="img-fluid rounded-start" alt="{{ item.name }}">
            </div>
            <div class="col d-flex align-items-center ms-1 justify-content-center"> 
              <div class="card-body text-start">
                <h2 class="card-title mb-0">{{ item.name }}</h2>
              </div>
            </div>
            <!-- Link to Item Details page -->
            <a href="{% url 'item_info' item.id %}" class="stretched-link"></a>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="row justify-content-center mb-0">
        <div class="card card-row m-0 position-relative">
          <div class="row">
            <div class="col d-flex align-items-center justify-content-center"> 
              <div class="card-body text-start">
                <h3>No items exist yet for this location.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="container">
      
      <button class="btn custom-btn custom-btn-smaller bottom-btn" onclick="window.history.back();">Back</button>
    </div>

    <!-- Reviews Section with Filter -->
    <div class="container justify-content-center mt-3">
      <div class="text-center">
        <h3>Reviews</h3>
        <div class="row justify-content-center">
          <div class="col-12">
            <div style="max-width: 78%; margin: 0 auto; margin-bottom: 9.713px;">
              <div class="d-flex justify-content-between align-items-center">
                <form method="get" class="form-inline d-flex align-items-center">
                  <div style="margin-right: 10px;">{{ reviews_filter.form }}</div>
                  <button type="submit" class="btn custom-btn custom-btn-width">Search</button>
                </form>
                <a class="btn custom-btn custom-btn-smaller" href="{% url 'add_review' location.id %}">Add Review</a>
              </div>
            </div>
          </div>
        </div>
        {% if reviews %}
          {% for review in reviews %}
            <div class="row justify-content-center mb-0">
              <div class="card card-row m-0 position-relative">
                <div class="row">
                  <div class="col d-flex align-items-center justify-content-center">
                    <div class="card-body text-start">
                      <h3>{{ review.user }}</h3>
                      <p>{{ review.review }}</p>
                      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                      {% if review.num_stars == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                      {% elif review.num_stars == 4%}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                      {% elif review.num_stars == 3%}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif review.num_stars == 2%}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif review.num_stars == 1%}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="row justify-content-center mb-0">
            <div class="card card-row m-0 position-relative">
              <div class="row">
                <div class="col d-flex align-items-center justify-content-center">
                  <div class="card-body text-start">
                    <h3>No reviews exist yet for this location.</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {% endblock %}