{% extends 'templates/base_template.html' %}
{% block content %}

<div class="container py-4">
  <div class="bg-white rounded p-4"> <!-- Add bg-white and rounded classes for the white box -->
    <h1>Login</h1>
    <br/>

    <form action="" method=POST>
      {% csrf_token %}

      <div class="mb-3">
        <!-- Attempt at adding a useful message to invalid users (Luke) -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type = "button" class = "btn-close" data-bs-dismiss = "alert" aria-label = "Close">
        </div>
        {% endfor %}
        {% endif %}
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
  </div>
</div>
<br/><br/> 
{% endblock %}