{% extends 'templates/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!-- Need to create seperate HTML for store and restaurant pages -->

<head>
</head>
<body>
  {% block content %}
  <div style="margin-top: 65px;">
  </div>
  <h1 style="text-align: center">Locations Near {{user_address}}!</h1>
  
  <div class="container">
    <!--<div class="custom-scrollbar">-->
      <!--Box for 'Add Location Button'-->
      <div class="card">
        <div class="card-body" style="display:flex; margin-left: auto;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a button class="btn custom-btn" href="{% url 'add_location' %}">Add Location</a></button>
            </li>
          </ul>
        </div>
      </div>
      <!--Boxes for each location. Will need to be updated so that for loop is sorted by proximity-->
      {% for location in sorted_locations %}
      <!-- Can use name, description, location_type, and address -->
      <div class="card">
        <div class="card-body" style="display:flex;">
          <div>
            <h3>{{location.name}}</h3>
            <p>{{location.description}}</p>
            <p>{{location.address}} ({{location.distance}} mi)</p>
          </div>
          <div style="margin-left: auto;">
            <ul class="navbar-nav" style="gap:.5rem;">
              <li class="nav-item">
                <button class="btn custom-btn">View</button>
              </li>
              <li class="nav-item">
                <a button class="btn custom-btn" href="{% url 'add_item' %}">Add Item</a></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {%endfor%} <!-- Moved so cards are in same container (Tyler) -->
    <!--</div>-->
  </div>
  {% endblock content %}
</body>