
{% extends 'templates/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!-- Resource for scrollbar -->
<!-- https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar -->

<head>
</head>
<body>
  {% block content %}
  <div style="margin-top: 65px;">
  </div>
  <h1 style="text-align: center">Locations Near You!</h1>
  
  <div class="container">
    <div class="custom-scrollbar">
      <!--Box for 'Add Location Button'-->
      <div class="card">
        <div class="card-body" style="display:flex; margin-left: auto;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <button class="btn custom-btn" id="addLocationButton">Add Location</button>
            </li>
          </ul>
        </div>
      </div>
      <!--Boxes for each location. Will need to be updated so that for loop is sorted by proximity-->
      {% for location in locations %}
      <div class="card">
        <div class="card-body" style="display:flex;">
          <div>
            <h3>{{location.name}}</h3>
            <p>{{location.description}}</p>
          </div>
          <div style="margin-left: auto;">
            <ul class="navbar-nav" style="gap:.5rem;">
              <li class="nav-item">
                <button class="btn custom-btn">View</button>
              </li>
              <li class="nav-item">
                <button class="btn custom-btn">Add</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {%endfor%} <!-- Moved so cards are in same container (Tyler) -->
    </div>
  </div>
  <div id="addLocationForm" class="popup">
      <div class="popup-content">
        <form action = "/add_location" method = "post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit">
        </form>
      </div>
  </div>
  
  <script>
      addLocationButton.addEventListener("click", function () {
          addLocationForm.classList.add("show");
      });
      closeForm.addEventListener("click", function () {
          addLocationForm.classList.remove("show");
      });
      window.addEventListener("click", function (event) {
          if (event.target == addLocationForm) {
              addLocationForm.classList.remove("show");
          }
      });
  </script>
  {% endblock content %}
</body>