{% extends 'templates/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
</head>
<body>
  {% block content %}
  <div style="margin-top: 65px;">
  </div>
  <h1 style="text-align: center">Locations Near {{user_address}}!</h1>
  
  <div class="container">
      <!--Box for 'Add Location Button'-->
      <div class="card">
        <div class="card-body" style="display:flex; margin-left: auto;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a button class="btn custom-btn" href="{% url 'add_location' %}">Add Location</a></button>
            </li>
          </ul>
        </div>
      </div>
      {% if no_locations %}
      <div class="card">
        <div class="card-body justify-content-center" style="display:flex;">
          <div>
            <h4>No locations found! Please add some locations to get started.</h4>
          </div>
        </div>
      </div>
      {% else %}
      {% for location in sorted_locations %}
      <!-- Can use name, description, location_type, address, distance, rounded_distance, id -->
      <div class="card">
        <div class="card-body" style="display:flex;">
          <div>
            <h3>{{location.name}}</h3>
            <p>{{location.description}}</p>
            <p>{{location.address}} ({{location.rounded_distance}} mi)</p>
            <!-- Possibly make tags colored bubbles?? -->
            <p>Tags:
              {% for tag in location.tags %}
              <!-- Add comma between tags if not last object -->
                {{ tag.name }}{% if not forloop.last %},{% endif %}
              {% endfor %}
            </p>
          </div>
          <div style="margin-left: auto;">
            <ul class="navbar-nav" style="gap:.5rem;">
              <li class="nav-item">
                  <a class="btn custom-btn" href="{% url 'location_details' location.id %}">View</a>
              </li>
              <li class="nav-item">
                <a button class="btn custom-btn" href="{% url 'add_item' %}">Add Item</a></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {%endfor%}
      {% endif %}
  </div>
  {% endblock content %}
</body>